body {
    width: 80%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: 'Calistoga';
}

.col-sm-10 {
    background-color: aquamarine;
}