body {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Calistoga';
}


/* Menu du haut */

.fond {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: teal;
}

.menu2 {
    flex-direction: row;
    padding: 15px;
    margin: 10px;
}

.menu1 {
    padding: 15px;
    margin: 10px;
    color: white;
    font-weight: bold;
}

.menu1:hover,
.menu2 a:hover {
    background-color: tomato;
    border-radius: 30px;
}

.menu2 a {
    padding: 15px;
    text-decoration: none;
    color: black;
}

.menu2>a:nth-child(1) {
    color: yellow;
}

.menu2>a:nth-child(1):hover {
    background-color: teal;
}


/* 1ere partie haute */

.param {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 40px;
}

#identite {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
    width: 300px;
    border: 1px solid black;
    position: relative;
    margin-top: 30px;
}

#label {
    position: absolute;
    top: -15px;
    left: 20px;
    height: 20px;
    width: 250px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    color: red;
}

#pays {
    width: 200px;
    margin-top: 20px;
}

.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choix {
    display: flex;
    position: relative;
    background-color: rgb(211, 177, 115);
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    width: 400px;
    height: 300px;
}

#choix {
    position: absolute;
    top: -15px;
    left: 20px;
    height: 20px;
    width: 250px;
    background-color: transparent;
    color: red;
}

.message {
    position: relative;
    background-color: rgb(102, 187, 168);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    width: 250px;
}

#texte {
    width: 150px;
    height: 150px;
    background-color: transparent;
}

#border {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    position: relative;
}

#divers {
    position: relative;
    top: -15px;
    width: 200px;
    background-color: rgb(102, 187, 168);
    color: rgb(255, 0, 0);
}

.check2,
textarea {
    background-color: cadetblue;
}


/* pied de page */

.pieddepage {
    display: flex;
    flex-direction: row;
}

.droite,
.milieu2,
.gauche {
    flex-direction: column;
    text-align: center;
    padding: 60px 30px 60px 30px;
}

.milieu2 {
    background-color: #ffa500;
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: teal;
    text-align: center;
    font-style: italic;
}