body {
    background-color: rgb(255, 255, 255);
    width: auto;
}

.header {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 50px;
}

.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: rgb(0, 0, 0);
}

.navigation a:hover {
    color: gold;
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

.image {
    display: flex;
    background-image: url(/image/html4.jpg);
    height: 400px;
    color: white;
    font-size: 50px;
}

.image div {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image button {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
}

span {
    color: gold;
    font-weight: bold;
    font-size: 30px;
}

.article1 {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.picture1 {
    display: flex;
    width: 40%;
}

.black {
    display: flex;
    background-color: black;
    color: white;
    flex: 2 0 auto;
    width: 60%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    flex-direction: column;
}

.black button {
    background-color: rgb(247, 247, 247);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
}

.article2 {
    background-color: wheat;
    display: flex;
    width: auto;
    height: 250px;
    justify-content: space-around;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 30px;
}

.article2 div {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.article2:nth-child(1),
.article2:nth-child(2),
.article2:nth-child(3) {
    flex: 1 1 auto;
}

.article3 {
    display: flex;
    width: 80%;
    flex-direction: row;
    margin-top: 20px;
}

.article3 div {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
}

.picture2 {
    display: flex;
    width: 30%;
    border-radius: 50%;
}

.article4 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.article4 p {
    border: 5px solid gold;
}

.param {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.param nom {
    color: red;
}