/* ECRAN SUPERIEUR A 1200 PX */

* {
    box-sizing: border-box;
    font-family: 'Merriweather';
    
}

/*Smooth Scroll*/
html {
    scroll-behavior: smooth;
  }
  #section1 {
    height: 300px;
   
  }
  
  #section2 {
    height:300px;
  
  }

  .collapse .navbar-collapse{
      justify-content: end !important;
  }

/*#region body*/

body {
    height: 100vh;
    width: auto;
    margin: auto;
    background-color: rgb(102, 100, 100);
}


/* ENTETE */



/* CORPS PRINCIPAL */

.page {
    background-color: rgb(219, 217, 217);
    width: auto;
    height: auto;
}

.header {
    display:flex;

    height: 250px;
   
}
.menu{
    display: flex;
    width: auto;
    height: auto;
    font-size: 50px;
}


.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    display: flex;
    background-image: url("/image/callayjeremie.jpg");
    background-size: cover;
    width: 250px;
    height: 250px;
}

.center {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: rgb(255, 255, 255);
}

.nom {
    display: flex;
    flex-direction: row;
    height: 100px;
}

#nom {
    background-color: rgb(71, 68, 71);
    width: 80%;
    font-size: 30PX;
    padding: 20px;
}

#cv {
    display: flex;
    background-color: rgb(94, 94, 94);
    background-image: url("/image/cv/telecharger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    width: 20%;
}

.sousnom {
    display: flex;
    flex-direction: row;
    height: 100px;
}

#metier {
    background-color: rgb(56, 55, 56);
    width: 80%;
    font-size: 30PX;
    padding: 20px;
}

#logo {
    display: block;
    background-color: rgb(39, 38, 39);
    background-image: url("/image/cv/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    width: 20%;
}

.menu {
    display: flex;
    flex-direction: row;
    height: 75px;
    background-color: rgb(208, 137, 52);
}

#bouton, #bouton1, #bouton2, #bouton3, #bouton4
 {
    display: flex;
    width: 20%;
    height: auto;
    justify-content: center;
    align-items: end;
    background-repeat: no-repeat;
    background-position: 50% 20%;
}

#bouton {
    
    background-image: url("/image/cv/home.png");
    
}

#bouton1 {
    
    background-image: url("/image/cv/resume.png");
}

#bouton2{
    
    background-image: url("/image/cv/profil.png");
}

#bouton3 {
    
    background-image: url("/image/cv/experience.png");
}

#bouton4 {
   
    background-image: url("/image/cv/contact.png");

}
a { color: inherit;
text-decoration: none; } 

.contrainer, .parcours, .experience, .realisateurs, .contact {
    display: flex;
    flex-direction: row;
    background-color: rgb(219, 217, 217);
    width: auto;
    height: 300px;
    padding: 20px;
}
h3{
    text-decoration:rgb(39, 38, 39) underline;
}




/* PIED DE PAGE */

footer {
    width: 100%;
    text-align: center;
    border: 1px solid deepskyblue;
    background-color: deepskyblue;
}