/* ECRAN SUPERIEUR A 1200 PX */

* {
    box-sizing: border-box;
    background-color: rgb(36, 36, 36);
    font-family: 'Merriweather'
}


/*#region body*/

body {
    height: 100vh;
    width: 1024px;
    margin: auto;
}


/* ENTETE */

header {
    width: 100%;
    border: 1px solid deepskyblue;
    text-align: center;
    background-color: deepskyblue;
}


/* CORPS PRINCIPAL */

.corps {
    width: 100%;
    display: flex;
    flex-direction: row;
}


/* MENU DE GAUCHE */

.menugauche {
    flex-direction: column;
    padding-top: 25px;
    background-color: floralwhite;
    justify-content: space-around;
    align-content: center;
}

.menugauche a {
    text-decoration: none;
    margin: 25px;
    padding-bottom: 5px;
}

.menugauche a:hover {
    background-color: tomato;
    border-radius: 10px;
}


.page {
    display: flex;
    flex-direction: row;
   
    width: auto;
    height: 250px;
    margin-top: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    border: rgb(161, 69, 69) 3px solid;
    align-items: center;
    margin: 5px;
}

.photo {
    display: flex;
    background-image: url("/image/callayjeremie.jpg");
    background-size: cover;
    width:250px;
    height: 250px;
}

p {
font-size: 25px;
color:blanchedalmond ; 
margin-left: 10px;


}

.center {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: rgb(71, 50, 167) 3px solid;
    color: rgb(255, 255, 255);
}

.nom{
    display: flex;
    flex-direction: row ; 
    height: 100px;
}
#nom{
    background-color: rgb(71, 68, 71);
    width: 80%;
    font-size: 30PX;
    padding: 10px;
}
#cv{
    background-color: rgb(51, 50, 51);
    width: 20%;
}


.sousnom{
    display: flex;
    flex-direction: row ; 
    height: 100px; 
}

#metier{
    background-color: rgb(56, 55, 56);
    width: 80%;
    font-size: 30PX;
    padding: 10px;
}
#logo{
    background-color: rgb(39, 38, 39);
    width: 20%;
}



.menu {
    display: flex;
    flex-direction: row;
    
}



/* PIED DE PAGE */

footer {
    width: 100%;
    text-align: center;
    border: 1px solid deepskyblue;
    background-color: deepskyblue;
}