/* ECRAN SUPERIEUR A 1200 PX */

* {
    box-sizing: border-box;
    font-family: 'Merriweather'
}


/*#region body*/

body {
    height: 100vh;
    width: 1024px;
    margin: auto;
    background-color: rgb(102, 100, 100);
}


/* ENTETE */

header {
    width: 100%;
    text-align: center;
}


/* CORPS PRINCIPAL */

.page {
    background-color: rgb(219, 217, 217);
    width: auto;
    height: auto;
}

.header {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 250px;
    margin-top: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    display: flex;
    background-image: url("/image/callayjeremie.jpg");
    background-size: cover;
    width: 250px;
    height: 250px;
}

.center {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: rgb(255, 255, 255);
}

.nom {
    display: flex;
    flex-direction: row;
    height: 100px;
}

#nom {
    background-color: rgb(71, 68, 71);
    width: 80%;
    font-size: 30PX;
    padding: 20px;
}

#cv {
    display: flex;
    background-color: rgb(94, 94, 94);
    background-image: url("/image/cv/telecharger.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
}

.sousnom {
    display: flex;
    flex-direction: row;
    height: 100px;
}

#metier {
    background-color: rgb(56, 55, 56);
    width: 80%;
    font-size: 30PX;
    padding: 20px;
}

#logo {
    display: block;
    background-color: rgb(39, 38, 39);
    background-image: url("/image/cv/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
}

.menu {
    display: flex;
    flex-direction: row;
    height: 75px;
}

#vert,
#bleu,
#violet,
#orange,
#rouge {
    display: flex;
    width: 20%;
    height: auto;
    justify-content: center;
    align-items: end;
    background-repeat: no-repeat;
    background-position: 50% 20%;
}

#vert {
    background-color: rgb(27, 161, 27);
    background-image: url("/image/cv/home.png");
}

#bleu {
    background-color: rgb(67, 65, 163);
    background-image: url("/image/cv/resume.png");
}

#violet {
    background-color: rgb(164, 59, 196);
    background-image: url("/image/cv/profil.png");
}

#orange {
    background-color: rgb(224, 145, 80);
    background-image: url("/image/cv/experience.png");
}

#rouge {
    background-color: rgb(245, 92, 92);
    background-image: url("/image/cv/contact.png");
}

.contrainer {
    display: flex;
    flex-direction: row;
    background-color: rgb(219, 217, 217);
    width: auto;
    height: 400px;
}


/* PIED DE PAGE */

footer {
    width: 100%;
    text-align: center;
    border: 1px solid deepskyblue;
    background-color: deepskyblue;
}