.container {
    display: grid;
    gap: 20px;
    height: 100vh;
    /*each box is 200px by 200px*/
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 5fr);
    border: 1px solid;
    /* changer the values   to experiment*/
}

.box-1 {
    grid-row: 2/5;
    background-color: aquamarine;
}


/*.box-1,
.box-2,
.box-3,
.box-4 {
    display: grid;
    border: black 1px solid;
    background-color: burlywood;
    width: 100px;
    height: 100px;
    justify-items: center;
    align-items: center;
}*/