/* ECRAN SUPERIEUR A 1200 PX */

* {
  padding: 0;
    margin: 0;
}


/*#region body*/

body {
  height: 1000vh;
  position: relative;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #434644;
}

.menu{
position: fixed;
background-color: #434644;
}


.fond{
  width: 50%;
  height: auto;
  background-image: url("/pages/cv/assets/img/callayjeremie.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}