* {
    box-sizing: border-box;
}


/*#region body*/

body {
    width: 1024px;
    margin: auto !important;
}

.fond {
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.menu {
    display: flex;
    margin: 20Px;
}

.btng {
    width: 80%;
}

.btnd {
    width: 20%;
    float: right;
}

.article1 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 200px;
}

.photo {
    background-image: url(/image/fleur1.jpg);
    width: 600px;
    height: 180px;
}

.photo:hover {
    background-image: url(/image/fleur2.jpg);
    width: 600px;
    height: 180px;
}

.calc {
    width: 50%;
    margin: 20px;
}

.btn {
    flex-direction: row;
    justify-items: stretch;
}


/* Slideshow container */

.article2 {
    display: flex;
    margin: 10px;
    justify-content: center;
}

.texte {
    width: 600px;
    height: 100px;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple rgb(217, 223, 217);
    scrollbar-width: thin;
}

.article3 {
    display: flex;
    margin: 10px;
    width: auto;
    height: 200px;
}

.img1 {
    background-image: url(/image/ptete1.jpg);
    width: 40%;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 45%;
    margin: 15px;
}

.img2 {
    background-image: url(/image/ptete2.jpg);
    width: 40%;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 45%;
    margin: 15px;
}

.img3 {
    background-image: url(/image/ptete3.jpg);
    width: 40%;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 45%;
    margin: 15px;
}

.img1:hover,
.img2:hover,
.img3:hover {
    cursor: zoom-in;
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.video {
    display: flex;
    width: auto;
    justify-content: center;
}

.lien {
    display: flex;
    flex-direction: row;
}

.droite,
.milieu,
.gauche {
    flex-direction: column;
    text-align: center;
    padding: 60px 0px 60px 0px;
    width: 100%;
}


/* footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 247, 247);
    text-align: center;
    font-style: italic;
}