{% extends 'base.html.twig' %}

{% block title %}Entrez votre adresse email{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Entrez votre adresse email</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(requestForm) }}
{% endblock %}
